{%extends "base.html"%}

{%block content%}

<div class="profile-container">
    <!-- Информация о пользователе -->
    <div class="profile-header">
        <img src="user-avatar.jpg" alt="Аватар" class="user-avatar">
        <div class="user-info">
            <h1 class="profile-name"></h1>
            <p class="profile-email"></p>
            <p>+38 099 123 45 67</p>
        </div>
    </div>

    <!-- Список бронирований -->
    <h2>Мои бронирования</h2>
    <div class="booking-history">


    </div>


</div>

{%endblock %}